body {
	font-family: Trebuchet MS, sans;
}

#top {
	width: 800px;
	margin: auto;
	font-size: x-small;
}

#content {
	width: 800px;
	height: auto;
	margin: auto;
}

#textP {
	background-color: #FFFFFF;
	border: solid black 1px;
}

#keyboardInput {
	width: 100%;
}

.correctText {
	background-color: lime;
}

#countDown {
	color: red;
	font-size: large;
	font-weight: bold;
}

h1 {
	font-size: x-large;
}

#bottom {
	text-align: center;
	width: 800px;
	margin: auto;
	font-size: small;
}
