#content {
	width: 700px;
	height: auto;
	margin: auto;
	font-family: Trebuchet MS, sans;
}

#textP {
	background-color: #FFFFFF;
	border: solid black 1px;
}

#keyboardInput {
	width: 100%;
}

.correctText {
	background-color: lime;
}

.flagLink {
	background-color: white;
	border: 0px solid;
	margin: 0px;
}

.flagLink img {
	border: 0px solid;
	margin: 0px;
}

.imgCaption {
	font-size: 8pt;
	margin: 0px;
}

#countDown {
	color: red;
	font-size: 15pt;
	font-weight: bold;
}

h1 {
	font-size: 15pt;
}
